  #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
        font-size: 12px;
      }
      #map {
        width: 440px;
      }
      #listing {
        position: absolute;
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 0px;
   
     
        cursor: pointer;
        overflow-x: hidden;
      }
      #findFood{
        
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
       
        position: absolute;
        width: 190px;
        height: 25px;
        left: 108px;
        top: 0%;
        z-index: 5;
        background-color: #fff;
      }
      #controls {
        position: absolute;
        left: 300px;
        width: 140px;
        
        z-index: 5;
        background-color: #fff;
       
      }
      #autocomplete {
        width: 100%;
        z-index: 10;
      }
      #country {
        width: 100%;
        bottom: 0px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
      
      @media(min-width:320px){
        #autocomplete {
          margin-top: 166%;
          margin-left: -34%;
          width: 100%;
          z-index: 10;
      }
        #controls {
        margin-top: -21%;
        position: absolute;
        left: 70%;
        width: 140px;
        z-index: 5;
        background-color: #fff;
    }#findFood {
     
      display: none;
  }
  #locationField {
    background-color: #09090900;
}
}
      
      @media(min-width:730px){
        #findFood {
          position: absolute;
          text-align: right;
          width: 100px;
          font-size: 14px;
          padding: 4px;
          z-index: 5;
          background-color: #fff;
      }
      #autocomplete {
        width: 100%;
        z-index: 10;
        margin-left: 271%;
        margin-top: 11px;
    }
    #locationField {
      width: 100px;
      z-index: 1;
      margin-left: 37%;
      margin-top: 118px;
      background: #3c3c3d00;
  }

  #controls {
    bottom: -116%;
    position: absolute;
    left: 421%;
    width: 140px;
    z-index: 5;
    background-color: #fff;
}


      }